---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import appleTouchIconPng from "../assets/apple-touch-icon.png";
import faviconIco from "../assets/favicon.ico";
import faviconSvg from "../assets/favicon.svg";
import Footer from "../components/navigation/Footer.astro";
import { Header } from "../components/navigation/Header.tsx";
import { site } from "../utils/consts";

export interface Props {
    title: string;
    type?: "article" | "404" | "home" | undefined;
    isNoIndex?: true | undefined;
    description?: string | undefined;
    ogImageSrc?: string | undefined;
}

const {
    title,
    type,
    isNoIndex,
    description: _description,
    ogImageSrc = appleTouchIconPng.src /**@todo generate OGP images automatically */,
}: Props = Astro.props;

const isArticle = type === "article";
const is404 = type === "404";
const description = is404 ? title : (_description ?? site.description);
---

<!doctype html>
<html lang={site.lang}>
    <head prefix="og: https://ogp.me/ns#">
        <meta charset="utf-8" />
        <meta name="color-scheme" content="light dark" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{title}</title>

        {
            (isNoIndex || is404) && (
                <meta name="robots" content="noindex nofollow" />
            )
        }
        <meta name="description" content={description} />
        <meta name="generator" content={Astro.generator} />

        <meta property="og:title" content={title} />
        <meta property="og:image" content={new URL(ogImageSrc, Astro.url)} />
        <meta property="og:locale" content={`${site.lang}_${site.region}`} />
        <meta property="og:site_name" content={site.domain} />
        {
            !is404 && (
                <meta
                    property="og:type"
                    content={isArticle ? "article" : "website"}
                />
            )
        }
        {!is404 && <meta property="og:url" content={Astro.url} />}
        <meta property="og:description" content={description} />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content={`@${site.twitterId}`} />

        {isArticle && <meta property="article:author" content={site.author} />}
        <!-- @todo: add article:section, published_time, modified_time -->

        <link rel="icon" href={faviconIco} sizes="48x48" />
        <link
            rel="icon"
            href={faviconSvg.src}
            sizes="any"
            type="image/svg+xml"
        />
        <link rel="apple-touch-icon" href={appleTouchIconPng.src} />
        {!is404 && <link rel="canonical" href={Astro.url} />}
        <script is:inline>
            (function () {
                const theme = localStorage.getItem("site-theme");
                if (theme === "dark" || theme === "light") {
                    document.documentElement.setAttribute("data-theme", theme);
                } else {
                    const preferTheme = window.matchMedia(
                        "(prefers-color-scheme: dark)",
                    )
                        ? "dark"
                        : "light";
                    localStorage.setItem("site-theme", preferTheme);
                    document.documentElement.setAttribute(
                        "data-theme",
                        preferTheme,
                    );
                }
            })();
        </script>
        <ClientRouter />
    </head>
    <body>
        <Header client:load />
        <main>
            <slot />
        </main>
        <Footer title={title} type={type} />
    </body>
</html>
